<div class="min-h-screen bg-white flex flex-col items-center justify-center px-8">
  <div class="flex flex-col items-center justify-center w-full">
    <!-- Season Logo -->
    <img
      src="<%= image_path('season-wortmarke-1.svg') %>"
      alt="Season"
      class="h-60 object-contain">
  </div>

  <script>
    // Auto-redirect after 2 seconds
    setTimeout(() => {
      window.location.href = '/welcome';
    }, 2000);
  </script>
</div>
