<footer class="w-full mt-auto" style="background-color: #51715c; min-height: 100px;">
  <div class="mx-auto max-w-7xl px-6 pt-8 pb-4 sm:pt-12 lg:px-8 lg:pt-16">
    <div class="border-t border-white/10 py-2">
      <p class="text-sm text-white text-center">© 2026 Shanel Chien CEO Season all rights reserved</p>
    </div>
  </div>
</footer>
